div{
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: gray;
    text-align: center;
    font-size: 16px;
    
}

table{

}



#valencia{
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    border-right: solid 1px;
    width: 2000px;
    height: 150px;;
    
    
}

#juventus{
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    width: 2000px;
    height: 150px;;
}

.numeros{
    
    display: inline;
    font-size: 60px;
    font-family: Verdana, Tahoma, sans-serif;
}

#goles{
    font-size: 13px;
}

#escudo{
    
    height: 120px;
}

.cambioColor{
    display: inline;
    font-size: 16px;
    font-weight: bold;
}
.cambioColor:hover{
    color: #f26213;
}

