ul{
    list-style-type: none;
    margin-left: 350px;
    margin-top: 200px;

 
}

li{
    display: inline;


}

img{
    width: 100px;
    transition: width 1s;

}

img:hover{
    width: 150px;
}

.boton .oculto{
    visibility: hidden;
}

.boton:hover .oculto{
    visibility: visible;
}

div{
    float: left;
    margin-right: 60px;
    width: 100px;

}