

.container {
    display: grid;
    grid-gap: 5px;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 110px 430px 170px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c x x"
        "f f f f f f f f f f x x";
}

.header {
    grid-area: h;
    background-color:#ad1e00;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
}

.carro{
    grid-area: x;
    background-color: aqua;
}

.content {
    grid-area: c;
    background-color: greenyellow;
}

.footer {
   grid-area: f;
   background-color: orange;
   
}


.imagenGrande{
    width: 255px;
    height: 232px;
}
.imagenPequeña{
    margin-left: 20px;
    margin-top: 25px;
    width: 80px;
    height: 80px;
}



input{
    width: 30px;
    position: relative;
    bottom: 30px;
}

#galleta1{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 200px;
    left: 10%;
}
#galleta2{

    width: 350px;
    height: 250px;
    position: absolute;
    top: 250px;
    left: 31%;
}
#galleta3{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 270px;
    left: 54%;


}
#wookiee{
    height: 400px;
    width: 200px;
    position: absolute;
    top: 20%;
}

#wookiee2{
    height: 400px;
    width: 200px;
    position: absolute;
    top: 20%;
    left: 70%;

}

#texto1{
    position: absolute;
    top: 65%;
    left: 15.5%;
}

#texto2{
    position: absolute;
    top: 65%;
    left: 36%;
}

#texto3{
    position: absolute;
    top: 65%;
    left: 53%;
}

h1{
    margin-top:5%;
    margin-left: 36%;
}

#carro{
    height: 200px;
    width: 260px;
    position: absolute;
    top: 70%;  
}

